
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    
    <h1> Welcome to Landing Page </h1>
    
    <h3> {{Django}} </h1>

    <h3> {{O12}} </h3>

    <form action="{% url 'html-python' %}" method="get">

        <button name="J90" value="Django Class data from html to Python" > Submit </button>
    
    </form>

</body>
</html>